nav(class="navbar navbar-expand-lg navbar-dark phasmo-nav")
    button(class="navbar-toggler", type="button" data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse", id="navbarSupportedContent")
        ul(class="navbar-nav m-auto")
            li(class="nav-item")
                a(class="nav-link text-white", href="/") Accueil
            li(class="nav-item")
                a(class="nav-link text-white", href="/chat") Chat
            li(class="nav-item")
                a(class="nav-link text-white", href="/signup") Inscription
            li(class="nav-item")
                a(class="nav-link text-white", href="/signin") Connexion
            li(class="nav-item")
                a(class="nav-link text-white", href="/admin") Admin
img(src="./img/bg-nav.png" class="img-fluid phasmo-nav-bottom")