html
    head
        title Admin
        include includes/head.pug
    body
        include includes/nav.pug
        div(class="container")
            h1 Admin
            br
            p Liste des utilisateurs:
            ul(class="list-group list-group-flush list-user")
                - for (const key in users)
                    li(class="list-group-item") <b>##{ users[key].id }</b> #{ users[key].username }
                        a(class="float-right", href="/delete")
                            i(class="fas fa-trash-alt")
                        a(class="float-right", href="/delete")
                            i(class="fas fa-edit")
        div(class="loader")
        include includes/script.pug
