html
    head
        title Chat
        include includes/head.pug
    body
        include includes/nav.pug
        div(class="container")
            h1 Chat
        div(class="loader")
        include includes/script.pug
