/*

SOMMAIRE:

    [1] Global
        - Global vairables
        - Animations
        - Loader
        - Nav
        - Button
        - Others
    [2] Home
        - Header
    [3] Signin/Signup
        - Form background
        - Form container
    [4] Admin
        - User list
    [5] 404
    [6] Media queries
        - Mobile

*/

/* ---------------- [1] Global ---------------- */

/* Global vairables */
:root{
    --gray: #1a1a1c !important;
    --dark-gray: #05070e;
    --red: #b01515;
    --dark-red: #8f2626;
    --font-phasmo: 'Architects Daughter', cursive;;
}

/* Animations */
@keyframes fadein{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Loader */
.loader {
    position: absolute;
    top: 0;
    background: url("../img/logo.png"), var(--dark-gray);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: 5;
    transform: scale(1);
}
/* Nav */
.phasmo-nav {
    background-color: var(--dark-gray);
    font-family: var(--font-phasmo);
    z-index: 2;
}
.phasmo-nav .navbar-nav {
    margin-top: 10px !important;
    margin-bottom: -10px !important;
}
.phasmo-nav .nav-link {
    padding: 10px 20px !important;
}
.phasmo-nav .nav-link:hover {
    transform: rotate(-3deg);
    color: var(--red) !important;
    background-image: url("../img/bg-item-hover.png");
    background-position: bottom center;
    background-size: 80px;
    background-repeat: no-repeat;
}
.phasmo-nav-bottom {
    position: absolute;
    z-index: 1;
}

/* Button */
.btn-phasmo {
    border: 2px solid #fff;
    background: transparent;
    border-radius: 0px !important;
    color: #fff;
    padding: 10px 30px;
    font-family: var(--font-phasmo);
    transition: all 0.2s ease-in;
    letter-spacing: 2px;
}
.btn-phasmo:hover {
    border: 2px solid var(--red);
    background: var(--red) !important;
    color: #000 !important;
}
.btn-phasmo:active {
    transition: all 0s ease-in;
    border: 2px solid var(--dark-red);
    background: var(--dark-red) !important;
}

/* Other */
body {
    background-color: var(--gray);
}
a, a:hover {
    color: var(--red);
}
body > .container {
    margin-top: 80px;
}
h1 {
    color: #fff;
    font-family: var(--font-phasmo);
}
p {
    color: #fff;
}

/* ---------------- [2] Home ---------------- */

/* Header */
.phasmo-header {
    height: calc(100vh - 60px);
    width: 100%;
    background-image: url("../img/bg-header.jpg");
    background-position: right bottom;
    background-size: cover;
    margin-bottom: 0px !important;
    z-index: 1;
}
.phasmo-header > div:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.phasmo-header > div > p {
    margin-top: 20px !important;
    color: #fff;
}



/* ---------------- [3] Signin/Signup ---------------- */

/* Form background */
.sign-page {
    background-position: center;
    background-size: cover;
}
.signup {
    background-image: url("../img/bg-sign.jpeg");
}
.signin {
    background-image: url("../img/bg-signin.png");
    
}

/* Form container */
.form-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #05070ea7;
    padding: 30px 20px !important;
}
.form-sign h1 {
    color: #fff !important;
    font-family: var(--font-phasmo);
}
.form-sign .form-group {
    padding-top: 20px;
}
.form-sign input {
    border-radius: 0px;
    border: 0px;
}
.form-sign button {
    margin-top: 20px;
}

/* ---------------- [4] Admin ---------------- */

/* User list */
.list-user{
    background-color: #3c3535 !important;
    padding: 20px;
}
.list-user > .list-group-item{
    background-color: transparent !important;
    border-bottom: 1px solid #9b9b9b;
    color: #fff;
}
.list-user > .list-group-item > b{
    padding-right: 10px;
}

/* ---------------- [5] 404 ---------------- */

/* Mobile */
.error-404 {
    background-image: url("../img/bg-404.png");
    background-size: cover;
    background-position: center bottom;
    height: calc(100vh - 60px);
    width: 100%;
}
.error-404 > div {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error-404 > div > h1 {
    color: var(--red);
    font-size: 80px !important;
}
.error-404 > div > h3 {
    color: #fff;
    font-size: 50px !important;
}

/* ---------------- [6] Media queries ---------------- */

/* Mobile */
@media (max-width: 1000px) {
    .phasmo-nav .nav-link:hover {
        transform: rotate(0deg);
        background-position: bottom left;
    }
    .error-404 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), #000), url("../img/bg-404.png");
        background-size: cover;
        background-position: center bottom;
        height: calc(100vh - 60px);
        width: 100%;
    }
    .error-404 > div {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loader {
        background-size: 200px;
    }
}